
.button {
    -fx-background-color: linear-gradient(white, darkgray);
    -fx-background-radius: 10;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 3,0,0,1);
    -fx-padding: 15px;
}

.button:hover {
    -fx-background-color: linear-gradient(#67b5ff, #468fd1);
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: linear-gradient(#357ab8, #4e9af1);
}

#botaoFuncao {
    -fx-background-color: linear-gradient(#ffbb33, #e69500);
    -fx-text-fill: black;
}

#botaoIgual {
    -fx-background-color: linear-gradient(#00c853, #009624);
}